<!doctype html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, max-scale=1.0">
    <title>Vaca Upload</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <style>
    @import url('https://fonts.googleapis.com/css2?family=Cousine&family=Spline+Sans+Mono:wght@700&family=VT323&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Fira+Code');
    </style>
  </head>
  <body class="corfundo">
      <form method="POST" enctype="multipart/form-data">
        <div><label class="form-label">Frase:<input class="btn btn-danger" type="text" name="frase"></label></div>
      <p><input class="btn btn-danger" type="file" id="file" name="file" accept=".txt"></p>
      <p><input class="btn btn-danger" type="submit" value="Enviar"></p>
      </form>
     <div class="vaca">
         /¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯\
         | Frase ou arquivo.txt|
         \_____________________/
            \
             \   ^__^
              \  (oo)\_______
                 (__)\       )\/\
                     ||----w |
                     ||     ||
     </div>
  </body>
</html>
